//- corresponde al archivo 04_parametros_pug.js
doctype html 
html
    head 
    title #{titulo} 
    meta(charset="UTF-8")
    link(rel="stylesheet", href="main.css")

body 
    main 
        h1 #{titulo} 
        p #{texto}
        p Bienvenido al curso basico de Node JS 
        p Esta pagina se creo usando PUG 
        figure 
            img(src=imagen) 
            figcaption #{texto} 

